<body>
    <div class = "jumbotron">
      <div class = "container">
        <div class = "header">
          <div class = "row">
           <div class = "col-md-3">
            <img src = "/assets/angelicon1.png" class = "logo">
           </div>
           <div class = "col-md-9">
            <ul class = "pull-right">
             <li><a href = "#">About us</a></li>
             <li class = "btn btn-default">Login</li>
            </ul>
           </div>
          </div>
        </div>
        <div class = "process">
          <ul>
            <li> 1. Booking </li>
            <li> 2. Contact Details </li>
            <li> 3. Pay </li>
      </div>
      <div class="cognito">
      <script src="https://services.cognitoforms.com/s/o-X-1rowtE2jmy2m3jYagA"></script>
      <script>Cognito.load("forms", { id: "1" });</script>
      </div>
    <div class = "footer">
     <div class = "container">
      <div class = "row">
        <div class = "col-md-4">
         <h4>Bodyguards</h4>
         <ul>
          <li>Home</li>
          <li>About us</li>
          <li>Login</li>
          <li>Impressum</li>
         </ul>
        </div>
        <div class = "col-md-4">
         <h4>Find us in:</h4>
         <ul>
          <li>Facebook</li>
          <li>Linkedin</li>
         </ul>
        </div>
      </div>
     </div>
    </div>
  </body>