  <body>
    <div class = "jumbotron">
      <div class = "container">
          <div class = "header">
            <div class = "row">
             <div class = "col-md-3">
              <img src = "/assets/angelicon1.png" class = "logo">
             </div>
             <div class = "col-md-9">
              <ul class = "pull-right">
               <li><a href = "#">About us</a></li>
               <li class = "btn btn-default">Login</li>
              </ul>
             </div>
            </div>
            <div class = "main">
              <div class = "row">
                <div class = "cold-md-7">
                  <h1>Find your boodyguard</h1>
                  <p>Secure your next event</p>
                </div>  
              </div>
              <a href = "pages/booking.html" class = "cta btn"> Book now</a>
            </div>
          </div>
        </div>
    </div>
    <div class="learn-more">
     <div class="container">
      <div class = "row">
       <div class = "col-md-4">
        <h3>Easy</h3>
        <p>Find protection in seconds</p>
        <p><a href="#">More information</a></p>
       </div>
       <div class = "col-md-4">
        <h3>Flexibility</h3>
        <p>Hire only whenever you want with no strings attached</p>
        <p><a href="#">More information</a></p>
       </div>
       <div class = "col-md-4">
        <h3>High quality service</h3>
        <p>Only trained personnal</p>
        <p><a href="#">More information</a></p>
       </div>
      </div>
     </div>
    </div>
    <div class = "footer">
     <div class = "container">
      <div class = "row">
        <div class = "col-md-4">
         <h4>Bodyguards</h4>
         <ul>
          <li>Home</li>
          <li>About us</li>
          <li>Login</li>
          <li>Impressum</li>
         </ul>
        </div>
        <div class = "col-md-4">
         <h4>Find us in:</h4>
         <ul>
          <li>Facebook</li>
          <li>Linkedin</li>
         </ul>
        </div>
      </div>
     </div>
    </div>
  </body>